.navWrapper {
  margin-top: 30px;
  // min-height: 670px;
  border-radius: 50px;
  overflow: hidden;

  .searchWrapper {
    padding: 20px 30px;
    height: 146px;
    background: url("../../data/img/nav-bg-lg.png") center center/cover
      no-repeat;
    .searchHeader {
      font-family: "Mystery Quest", serif;
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
    }

    .searchDescr {
      margin-top: 5px;
      width: 135px;
      font-weight: 500;
      font-size: 12px;
      color: #ffffff;
    }

    .inputWrapper {
      position: relative;
      margin-top: 15px;
      .search {
        padding: 7px 13px;
        width: 91.62px;
        height: 30.7px;
        border-radius: 60px;
        border: none;
      }
      ::placeholder {
        font-weight: 500;
        font-size: 12px;
        color: black;
      }
      .searchIcon {
        position: absolute;
        color: black;
        width: 10px;
        top: 8px;
        left: 67px;
      }
    }
  }
  .popularWrapper {
    padding: 18px 29px;
    min-height: 524px;
    background-color: #e3e1dc;

    .popularHeader {
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
    }

    .divider {
      width: 40.89px;
      height: 3px;
      background: #4d270c;
      border-radius: 10px;
      margin-top: 6px;
    }

    .popularDescr {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-top: 17px;
      width: 185px;
    }

    .cardsWrapper {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .loading {
        margin: 0 auto;
      }

      .card {
        margin-top: 18px;
        width: 48%;
        .cardLink {
          text-decoration: none;
          color: #291507;
        }
        img {
          width: 100%;
        }

        .cardName {
          font-weight: 600;
          font-size: 14px;
          line-height: 15px;
          margin-top: 12px;
        }
      }
    }

    .link {
      background-color: #e3e1dc;
      color: #291507;
      font-size: 14px;
      margin-top: 20px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .navWrapper {
    .searchWrapper {
      height: 540px;
      padding: 115px 108px;
      .searchHeader {
        font-size: 64px;
      }
      .searchDescr {
        font-size: 24px;
        width: 371px;
      }
    }
  }
}
