.wrapper {
  padding: 30px 0 60px;
  line-height: 18px;
  text-align: justify;

  .breedImg {
    width: 100%;
    border-radius: 32px;
  }

  .header {
    margin-top: 30px;
    font-size: 34px;
  }

  .description {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .characterName {
    font-weight: 700;
    font-size: 18px;
  }
  .scales {
    list-style: none;
  }
  .photosHeader {
    font-size: 24px;
    margin-top: 30px;
  }
  .breedPhoto {
    width: 100%;
    border-radius: 49px;
    margin-top: 20px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
