.wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  .pageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #e8e8e8;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
  }
  .dots {
    padding: 10px 15px;
  }
  .active {
    font-weight: 800;
    background-color: black;
    color: white;
  }
}
